*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    width: 100%;
    height: 9vh;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 5px ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    position: fixed;
}
.nav .logo{
    width: 10%;
    height: 99%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
}
.nav .menu{
    width: 70%;
    height: 99%;
    /* border: 1px solid black; */
    display: flex;
    /* font-family: sans-serif; */
    justify-content: flex-end;
    align-items: center;
}
.nav .menu ul{
    list-style: none;
    display: flex;
}
.nav .menu ul li{
    padding: 20px;
}
.nav .logo .l-circle{
    width: 40px;
    height: 40px;
    border: 3px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}
.nav .logo p{
    font-weight: bold;
    font-size: 20px;
}
.nav .logo p span{
    color: #238eff;
}
.nav .menu ul li a{
    text-decoration: none;
    color: black;
}
.main{
    width: 100%;
    height: 100vh;
    /* border: 1px solid black; */
      background:  url('image/b.png') center/cover no-repeat;
}
.main .main-a{
    width: 100%;
    height: 98vh;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main .main-a .text{
    width: 45%;
    height: 55vh;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.main .main-a .photo{
        width: 35%;
    height: 80vh;
    /* border: 1px solid black; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.main .main-a .text h1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 44px;
}
.main .main-a .text h1 span{
        color: #0b7ffc;
        letter-spacing: 5px;
}
.main .main-a .text .devlop p{
        font-family: sans-serif;
        font-size: 22px;
}
.main .main-a .text .devlop{
    width: 55%;
    height: 11%;
    /* border: 1px solid black; */
}
.main .main-a .text .devlop p span{
    color: rgb(185, 11, 11);
    letter-spacing: 4px;
}
.main .main-a .text .btn button{
    width: 35%;
    height: 84%;
    border: none;
    background-color: #0b7ffc;
    border-radius: 20px;
    font-size: 15px;
}
.main .main-a .text .icon{
    width: 73%;
    height: 10%;
    /* border: 1px solid black; */
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #024d57;
}
.main .main-a .text .btn{
    width: 55%;
    height: 13%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}
.main .main-a .text .icon ul{
    list-style: none;
    display: flex;
}
.main .main-a .text .icon ul li{
    padding: 14px;
}
.main .main-a .photo .circle{
    width: 60%;
    height: 60%;
    border: 7px solid #3495fc;
    border-radius: 50%;
    /* background-color: #3495fc; */
    box-shadow: 0px 0px 25px #3495fc;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .main-a .photo .circle img{
    width: 100%;
    height: 100%;
}
.main .about-main{
    width: 100%;
    height: 350px;
    /* border: 1px solid green; */
}
.main .about-main .about{
    width: 100%;
    height: 18%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    flex-direction: column;
    font-size: 14.5px;
}
.main .about-main .about h1 span{
    color: #027bfc;
}
.main .about-main .about .line-a{
    width: 8%;
    height: 2px;
    background-color: #3495fc;
        margin: 6px 0px 0px -20px;

}
.main .about-main .about .line-b{
        width: 8%;
    height: 2px;
    background-color: black;
    margin: 6px 0px 0px 25px;
}
.main .about-main .box{
    width: 100%;
    height: 82%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main .about-main .box .photos{
    width: 17%;
    height: 90%;
    /* border: 1px solid black; */
    border-radius: 0 20% 0 20%;
    overflow: hidden;
}
.main .about-main .box .texts{
    width: 70%;
    height: 100%;
    /* border: 1px solid black; */
    line-height: 33px;
    font-family: sans-serif;
    padding-top: 10px;
}
.main .about-main .box .photos img{
    width: 100%;
    height: 100%;
}
.main .about-main .box .texts button{
        width: 12%;
    height: 14%;
    border: none;
    background-color: #0b7ffc;
    border-radius: 20px;
    font-size: 15px;
}
.main .skill-main{
    width: 100%;
    height: 450px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.main .skill-main .skill-heading{
    width: 100%;
    height: 15%;
    /* border: 1px solid blue; */
        display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    flex-direction: column;
    font-size: 14.5px;
}
.main .skill-main .skill-heading h1 span{
    color: #027bfc;
}
.main .skill-main .skill-heading .line1{
        width: 9%;
    height: 2px;
    background-color: #3495fc;
        margin: 6px 0px 0px -20px;
}
.main .skill-main .skill-heading .line2{
        width: 9%;
    height: 2px;
    background-color: black;
        margin: 6px 0px 0px 25px;
}
.main .skill-main .skill1{
    width: 80%;
    height: 40%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main .skill-main .skill2{
    width: 80%;
    height: 40%;
    /* border: 1px solid greenyellow; */
        display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main .skill-main .skill1 .web{
    width: 18%;
    height: 93%;
    border: 1px solid #ff4d4d;
    box-shadow: 0px 0px 10px #ff4d4d;
    background-color: #ccdbeb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main .skill-main .skill1 .web .t{
    width: 100%;
    height: 35%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
.main .skill-main .skill1 .web .lo{
    width: 100%;
    height: 60%;
        /* border: 1px solid black; */

}
.main .skill-main .skill1 .web .lo i{
    font-size: 34px;
    color: #fc4343;
    padding-left: 10px;
    padding-top: 10px;
}
.main .skill-main .skill2 .b{
    width: 18%;
    height: 93%;
    /* border: 4px solid #3495fc; */
    box-shadow: 0px 0px 15px #037bfc;
    background-color: #ccdbeb;
}
.main .skill-main .skill1 .graphic{
    width: 18%;
    height: 93%;
    border: 1px solid #ffc107;
    box-shadow: 0px 0px 10px #ffc107;
    background-color: #ccdbeb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main .skill-main .skill1 .graphic .t{
    width: 100%;
    height: 35%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
.main .skill-main .skill1 .graphic .lo{
    width: 100%;
    height: 60%;
        /* border: 1px solid black; */

}
.main .skill-main .skill1 .graphic .lo i{
    font-size: 34px;
    color: #fabc01;
    padding-left: 10px;
    padding-top: 10px;
}
/* ................. */
.main .skill-main .skill1 .software{
    width: 18%;
    height: 93%;
    border: 1px solid #3b82f6;
    box-shadow: 0px 0px 10px #3b82f6;
    background-color: #ccdbeb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main .skill-main .skill1 .software .t{
    width: 100%;
    height: 35%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}
.main .skill-main .skill1 .software .lo{
    width: 100%;
    height: 60%;
        /* border: 1px solid black; */

}
.main .skill-main .skill1 .software .lo i{
    font-size: 34px;
    color: #3b82f6;
    padding-left: 10px;
    padding-top: 10px;
}
/* ....................... */
.main .skill-main .skill1 .application{
    width: 18%;
    height: 93%;
    border: 1px solid #f43f5e;
    box-shadow: 0px 0px 10px #f43f5e;
    background-color: #ccdbeb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main .skill-main .skill1 .application .t{
    width: 100%;
    height: 35%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
.main .skill-main .skill1 .application .lo{
    width: 100%;
    height: 60%;
        /* border: 1px solid black; */

}
.main .skill-main .skill1 .application .lo i{
    font-size: 34px;
    color: #f43f5e;
    padding-left: 10px;
    padding-top: 10px;
}
/* ................... */
.main .skill-main .skill2 .problem{
    width: 18%;
    height: 93%;
    border: 1px solid #f842ac;
    box-shadow: 0px 0px 10px #f842ac;
    background-color: #ccdbeb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main .skill-main .skill2 .problem .t{
    width: 100%;
    height: 35%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
}
.main .skill-main .skill2 .problem .lo{
    width: 100%;
    height: 60%;
        /* border: 1px solid black; */

}
.main .skill-main .skill2 .problem .lo i{
    font-size: 34px;
    color: #f842ac;
    padding-left: 10px;
    padding-top: 10px;
}
/* ..................... */
.main .skill-main .skill2 .data{
    width: 18%;
    height: 93%;
    border: 1px solid #2196f3;
    box-shadow: 0px 0px 10px #2196f3;
    background-color: #ccdbeb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main .skill-main .skill2 .data .t{
    width: 100%;
    height: 35%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
}
.main .skill-main .skill2 .data .lo{
    width: 100%;
    height: 60%;
        /* border: 1px solid black; */

}
.main .skill-main .skill2 .data .lo i{
    font-size: 34px;
    color: #2196f3;
    padding-left: 10px;
    padding-top: 10px;
}
/* ..................... */
.main .skill-main .skill2 .cloud{
    width: 18%;
    height: 93%;
    border: 1px solid #00bcd4;
    box-shadow: 0px 0px 10px #00bcd4;
    background-color: #ccdbeb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main .skill-main .skill2 .cloud .t{
    width: 100%;
    height: 35%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
}
.main .skill-main .skill2 .cloud .lo{
    width: 100%;
    height: 60%;
        /* border: 1px solid black; */

}
.main .skill-main .skill2 .cloud .lo i{
    font-size: 34px;
    color: #00bcd4;
    padding-left: 10px;
    padding-top: 10px;
}
/* ...................... */
.main .skill-main .skill2 .db{
    width: 18%;
    height: 93%;
    border: 1px solid #ff5722;
    box-shadow: 0px 0px 10px #ff5722;
    background-color: #ccdbeb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main .skill-main .skill2 .db .t{
    width: 100%;
    height: 35%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
.main .skill-main .skill2 .db .lo{
    width: 100%;
    height: 60%;
        /* border: 1px solid black; */

}
.main .skill-main .skill2 .db .lo i{
    font-size: 34px;
    color: #ff5722;
    padding-left: 10px;
    padding-top: 10px;
}
/* ........................ */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #238eff;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #238eff;
  border-radius: 10px;
}
.nav .menu ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #238eff;
    transition: width 0.3s ease;
    margin-top: 5px;
}

.nav .menu ul li:hover a::after {
    width: 100%;
}